<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <title>投票系统</title>
</head>
<body>
<div id="app">
    <h2>系统加载中。如果一直卡在本页面，请考虑升级您的浏览器，或联系相关负责人。</h2>
    <strong><u>国产浏览器请切换至极速模式。</u></strong>
    <h3>推荐您使用以下浏览器：</h3>
    iOS用户：请升级至 iOS 12 <br/>
    Windows / Android / macOS 用户： 最新版 <a style="color:blue;text-decoration: none;" target="_blank" href="http://www.firefox.com.cn/">Firefox</a> 或 <a style="color:blue;text-decoration: none;" target="_blank" href="https://www.google.cn/chrome/">Chrome</a><br/>
    <h3>以下浏览器或系统经测试可以正确显示，<u>但不保证功能正常</u>：</h3>
    iOS >= 10 <br/>
    Safari with macOS >= 10.12 <br/>
    Firefox >= 29 <br/>
    Chrome >= 46 <br/>
    Edge >= 15 <br/>
    IE >= 11 <br/>
    Windows Phone >= 8.1<br/><br/>
    <code id="ua"></code>
</div>
<script>
    document.getElementById('ua').innerHTML = navigator.userAgent;
</script>
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>